{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="login-container">
        <div class="login-card"> <!-- Regroupement formulaire + image dans la même carte -->
            <div class="login-form">
                <h2 class="text-center">Se connecter</h2>

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                <form action="{{ path('app_login') }}" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" value="{{ last_username }}" required autofocus>
                    </div>

                    <div class="form-group">
                        <label for="password">Mot de passe</label>
                        <input type="password" id="password" name="password" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-submit">Se connecter</button>
                </form>
            </div>

            <div class="login-image">
                <img src="https://i.pinimg.com/736x/3c/9c/c3/3c9cc3374bd0ae01c3e49411be4e8549.jpg" alt="Image externe">


            </div>
        </div>
    </div>
{% endblock %}
